$red: red;
$blue: royalblue;

@mixin border-radius($radius: 10px) { // mixin
	border-radius: $radius;
}

.border {
	border-radius: 5px;
}

.red {
	@extend .border; // ajoute class
	color: $red;
}
.blue {
	color: $blue;
	@include border-radius();
}
.blue-lighter {
	color: lighten($blue, 30%); // + clair de 30%
}