*[class|="silk"] {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

body {
	-moz-column-count:8;
	-webkit-column-count:8;
	-o-column-count:8;
	column-count:8;
	-moz-column-gap:8px;
	-webkit-column-gap:8px;
	-o-column-gap:8px;
	column-gap:8px;
	-webkit-column-rule-width:0px;
	-webkit-column-rule-color:#cbcefb;
	-webkit-column-rule-style:dotted;
	-moz-column-rule-width:0px;
	-moz-column-rule-color:#cbcefb;
	-moz-column-rule-style:dotted;
	-o-column-rule-width:0px;
	-o-column-rule-color:#cbcefb;
	-o-column-rule-style:dotted;
	column-rule-width:0px;
	column-rule-color:#cbcefb;
	column-rule-style:dotted;
	
	font-size: 0.8em;
}