/* compiled by scssphp v0.0.3 on Wed, 22 Aug 2012 16:05:17 +0200 (0.0095s) */

.border, .red {
  border-radius: 5px; }

.red {
  color: red; }

.blue {
  color: royalblue;
  border-radius: 10px; }

.blue-lighter {
  color: #c5d1f6; }
